In [1]:
## list is a colleection type in python , heterogeneous
l = []

In [2]:
type(l)

list

In [3]:
l1 = list()

In [4]:
type(l1)

list

In [5]:
l2 = [1,2,3,4,5,6,7]

In [6]:
len(l2)

7

In [8]:
l3 = [1,2,3,45.55,45,"ayush",True, 10+9j]

In [9]:
type(l3)

list

## Heterogeneous collection

In [10]:
l3[0]

1

In [11]:
l3[5]

'ayush'

In [12]:
type(l3[5])

str

In [13]:
l3[5][1]

'y'

In [14]:
l3[7]

(10+9j)

In [16]:
l3[7].real

10.0

In [18]:
l3[7].imag

9.0

In [19]:
l3[-1]

(10+9j)

In [20]:
l3[100]

IndexError: list index out of range

In [22]:
l3[0:3]

[1, 2, 3]

In [23]:
l3[0:3:1]

[1, 2, 3]

In [24]:
l3[0:3:-1]

[]

In [25]:
l3[-8:-5:1]

[1, 2, 3]

In [26]:
l4= [1,2,3,4,["sudh","kumar"],3,4,5,"python","list",[2,2,3,4,5]]

In [27]:
l4[4]

['sudh', 'kumar']

In [28]:
l4[4][1]

'kumar'

In [29]:
l4[4][1][3]

'a'

In [30]:
# mutability // readssignment are not same
l4[0] = "ayush"
# // a kind of data where index is given internally ie i can accdssit one by one

In [32]:
list((1,2,3,4,5,"ayusfkjb","osnnu"))

[1, 2, 3, 4, 5, 'ayusfkjb', 'osnnu']

In [33]:
l5 = [23,4,54,5554,"yush",[2,3,4,5,]]

In [34]:

len(l5)

6

In [35]:
l5.append(38475)

In [36]:
l5

[23, 4, 54, 5554, 'yush', [2, 3, 4, 5], 38475]

In [37]:
l5.extend("auggidsufb")

In [38]:
l5

[23,
 4,
 54,
 5554,
 'yush',
 [2, 3, 4, 5],
 38475,
 'a',
 'u',
 'g',
 'g',
 'i',
 'd',
 's',
 'u',
 'f',
 'b']

In [39]:
l5.extend([[[123,123]]])

In [40]:
l5

[23,
 4,
 54,
 5554,
 'yush',
 [2, 3, 4, 5],
 38475,
 'a',
 'u',
 'g',
 'g',
 'i',
 'd',
 's',
 'u',
 'f',
 'b',
 [[123, 123]]]

In [41]:
l5.extend(5)

TypeError: 'int' object is not iterable

In [42]:
l5.insert(1,45)

In [43]:
l5

[23,
 45,
 4,
 54,
 5554,
 'yush',
 [2, 3, 4, 5],
 38475,
 'a',
 'u',
 'g',
 'g',
 'i',
 'd',
 's',
 'u',
 'f',
 'b',
 [[123, 123]]]

In [46]:
# appen extend and insert

In [47]:
l5.remove("ayush")

ValueError: list.remove(x): x not in list

In [49]:
l5.pop()

[[123, 123]]

In [50]:
l5.pop(2)

4

In [51]:
l5.pop(1000)

IndexError: pop index out of range

In [52]:
l5.index(12)

ValueError: 12 is not in list

In [53]:
l5.count(1)

0

In [54]:
l7 = [23,5,33,235,3344363,354]

In [55]:
l7.sort()

In [56]:
l7

[5, 23, 33, 235, 354, 3344363]

In [59]:
l7.sort(reverse=True)

In [60]:
l7

[3344363, 354, 235, 33, 23, 5]

In [62]:
sorted(l7)

[5, 23, 33, 235, 354, 3344363]

In [63]:
l7

[3344363, 354, 235, 33, 23, 5]

In [65]:
l9 = ["ayush","sonu","kiran",234]

In [66]:
l9.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [67]:
sorted(l9)

TypeError: '<' not supported between instances of 'int' and 'str'

In [68]:
l9 = ["ayush","sonu","kiran"]

In [69]:
l9.sort()

In [70]:
l9

['ayush', 'kiran', 'sonu']

In [71]:
l9.reverse()

In [72]:
l9

['sonu', 'kiran', 'ayush']

In [73]:
l8

NameError: name 'l8' is not defined

In [74]:
l5

[23,
 45,
 54,
 5554,
 'yush',
 [2, 3, 4, 5],
 38475,
 'a',
 'u',
 'g',
 'g',
 'i',
 'd',
 's',
 'u',
 'f',
 'b']

In [76]:
l5.copy()

[23,
 45,
 54,
 5554,
 'yush',
 [2, 3, 4, 5],
 38475,
 'a',
 'u',
 'g',
 'g',
 'i',
 'd',
 's',
 'u',
 'f',
 'b']

In [78]:
# deep copy vs shallow copyright

In [79]:
l11 = [2,3,4,5]

In [81]:
l12 = l11

In [83]:
l13 = l11.copy()

In [91]:
t4 = ([1,2,3,4],23)

In [93]:
t4[0] [1] = 7878

In [86]:
l = [1,2,3,4]

In [87]:
l[0] = 22

In [88]:
l

[22, 2, 3, 4]

In [94]:
t4

([1, 7878, 3, 4], 23)