In [2]:
a = [i*i for i in range(10)]

In [3]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
[i for i in range(50) if i%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [7]:
word = ["sudh","kumar","python","java"]

In [8]:
[i[0] for i in word]

['s', 'k', 'p', 'j']

In [18]:
(dict([(i**3,i)  for i in range(10)]))

{0: 0, 1: 1, 8: 2, 27: 3, 64: 4, 125: 5, 216: 6, 343: 7, 512: 8, 729: 9}

In [19]:
l = [[3,4,5],[4,5,6],[3,4,5]]
[j for i in l for j in i ]

[3, 4, 5, 4, 5, 6, 3, 4, 5]

In [20]:
l = [4,5,6,-7,8-55]
[i for i in l if i <0]

[-7, -47]

In [23]:
text = "sadjfvjh324hjb3lj2hbrh34b4rl2j3hj4kl2j314brjhjh324b2j3mbn4ejk23mb43k2jmnb4webkj3,mnw"
a = [int(i) for i in text if i.isdigit()]

In [24]:
["Even" if i %2==0 else "odd" for i in a ]

['odd',
 'Even',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'Even',
 'odd',
 'Even',
 'Even',
 'odd',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'Even',
 'odd',
 'Even',
 'Even',
 'odd',
 'Even',
 'odd',
 'Even',
 'Even',
 'odd']

In [25]:
d = {i: i*i for i in range(10)}

In [26]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [27]:
{i:[i*i, i**3] for i in range(10)}

{0: [0, 0],
 1: [1, 1],
 2: [4, 8],
 3: [9, 27],
 4: [16, 64],
 5: [25, 125],
 6: [36, 216],
 7: [49, 343],
 8: [64, 512],
 9: [81, 729]}

In [30]:
d = {'a':1,"b":2,'c':5,"d":8,"s":8}

In [31]:
{val:key for key,val in d.items()}

{1: 'a', 2: 'b', 5: 'c', 8: 's'}

In [34]:
{val:[key for key,value in d.items() if val==value] for val in d.values()}

{1: ['a'], 2: ['b'], 5: ['c'], 8: ['d', 's']}

In [35]:
l = ["sudh","kumar","python","kist"]
{key:value for key,value in enumerate(l)}

{0: 'sudh', 1: 'kumar', 2: 'python', 3: 'kist'}

In [36]:
l1 = [2,3,4]
l2 = ["list","tuples","dit"]
dict(zip(l1,l2))

{2: 'list', 3: 'tuples', 4: 'dit'}

In [38]:
{i : (i,i+1,i+2)for i in range(10)}

{0: (0, 1, 2),
 1: (1, 2, 3),
 2: (2, 3, 4),
 3: (3, 4, 5),
 4: (4, 5, 6),
 5: (5, 6, 7),
 6: (6, 7, 8),
 7: (7, 8, 9),
 8: (8, 9, 10),
 9: (9, 10, 11)}

In [40]:
d = {'a':1,'b':2,'c':3,"d":8}
{k : v for k,v in d.items() if v%2 ==0}

{'b': 2, 'd': 8}

In [45]:
n = 101
{f"name{val}":val for val in range(n)}

{'name0': 0,
 'name1': 1,
 'name2': 2,
 'name3': 3,
 'name4': 4,
 'name5': 5,
 'name6': 6,
 'name7': 7,
 'name8': 8,
 'name9': 9,
 'name10': 10,
 'name11': 11,
 'name12': 12,
 'name13': 13,
 'name14': 14,
 'name15': 15,
 'name16': 16,
 'name17': 17,
 'name18': 18,
 'name19': 19,
 'name20': 20,
 'name21': 21,
 'name22': 22,
 'name23': 23,
 'name24': 24,
 'name25': 25,
 'name26': 26,
 'name27': 27,
 'name28': 28,
 'name29': 29,
 'name30': 30,
 'name31': 31,
 'name32': 32,
 'name33': 33,
 'name34': 34,
 'name35': 35,
 'name36': 36,
 'name37': 37,
 'name38': 38,
 'name39': 39,
 'name40': 40,
 'name41': 41,
 'name42': 42,
 'name43': 43,
 'name44': 44,
 'name45': 45,
 'name46': 46,
 'name47': 47,
 'name48': 48,
 'name49': 49,
 'name50': 50,
 'name51': 51,
 'name52': 52,
 'name53': 53,
 'name54': 54,
 'name55': 55,
 'name56': 56,
 'name57': 57,
 'name58': 58,
 'name59': 59,
 'name60': 60,
 'name61': 61,
 'name62': 62,
 'name63': 63,
 'name64': 64,
 'name65': 65,
 'name66': 66,
 'name67': 67,
 'name68': 68,
 'name69': 69,
 'name70': 70,
 'name71': 71,
 'name72': 72,
 'name73': 73,
 'name74': 74,
 'name75': 75,
 'name76': 76,
 'name77': 77,
 'name78': 78,
 'name79': 79,
 'name80': 80,
 'name81': 81,
 'name82': 82,
 'name83': 83,
 'name84': 84,
 'name85': 85,
 'name86': 86,
 'name87': 87,
 'name88': 88,
 'name89': 89,
 'name90': 90,
 'name91': 91,
 'name92': 92,
 'name93': 93,
 'name94': 94,
 'name95': 95,
 'name96': 96,
 'name97': 97,
 'name98': 98,
 'name99': 99,
 'name100': 100}