In [1]:
len("ayush")

5

In [2]:
l = [34985.43590034,9823,"ayush"]

In [3]:
def test():
    pass

In [4]:
def test1():
    print("this is the first funnctionn")

In [5]:
test1()

this is the first funnctionn

In [7]:
def test5():
    return 1,2,3,"syush"

In [12]:
test5()*0

()

In [13]:
test5()

(1, 2, 3, 'syush')

In [14]:
a,b,c,d = test5()

In [15]:
a

1

In [16]:
d

'syush'

In [18]:
def test6():
    i = 0
    j = 2
    return i+j

In [19]:
test6()

2

In [21]:
def test7():
    l = [3,4,5,78,7]
    sum = 0
    for i in l:
        sum = sum + i
    return sum

In [22]:
test7()

97

In [23]:
def test8(l):
    sum = 0 
    for i in l:
        sum = sum + i
    return sum

In [25]:
test8(l=[12,23,4,53,3])

95

In [28]:
def test10(a:str,b:int,c:str)->tuple:
    return a,b,c

In [29]:
test10("ayush",879,"auuh")

('ayush', 879, 'auuh')

In [30]:
def test(a,b):
    return a,b

In [31]:
test(b=10,a=1999)

(1999, 10)

In [32]:
def test5(a="sush",b,c=37)
    return a,b,c

SyntaxError: non-default argument follows default argument (2465655283.py, line 1)

In [33]:
def test8(*args):
    return args

In [34]:
test8(1,2,5,36)

(1, 2, 5, 36)